<p id="notice"><%= notice %></p>


<div class="asdf">
    <div class="columns is-multiline">
         <% @posts.each do |post| %>
          <div class="column is-one-third my-20 mx-30 ">
            <div class="section posts">
              <div class="content ">
                <div  class="imagen">
                 <% if post.imagen.attached? %> 
                   <%= link_to (image_tag(post.imagen)), post %>
                 <% else %>
                   <%= link_to image_tag('arduino-logo.png'), post %>
                 <%end%>
                </div>
                <div  class="section contenido">
                 <p class="title"><%= post.titulo %></p>
                  <%= raw sanitize(post.content.to_s.truncate(200))%>
                </div>
                <div   class="actions">
                  <center>
                  <%= link_to 'Show', post, class:'button is-info' %>
                  <%= link_to 'Edit', edit_post_path(post), class:'button is-info mx-3' %>
                  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class:'button is-info' %>
                  </center>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
</div>
<br>

