<p id="notice"><%= notice %></p>

<p>
<section class="section show">
  <div class="texto pt-6">
    <center><h1 class="title is-2"><%= @post.titulo %></h1></center>
      <div  class="section">
        <%= raw CGI.unescape_element @post.content.body.to_s, ['iframe','div','center'] %> 
        <nav class="bd-prev-next-bis pt-5">
        	<%= link_to 'Anterior', @post.prev, class: "bd-prev-next-bis-previous" %> <%= link_to 'Siguiente', @post.next, class:"bd-prev-next-bis-next" %>
        </nav>
          <div class="column center">
            <center><%= link_to 'Editar', edit_post_path(@post), class:'button is-info show' %></center>
          </div>
       </div>
  </div>
</p>
</section>

