// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.imagen a{
	text-decoration:none;
}

.imagen{
	border-bottom:1px solid black;
	background-color:#FFF;
	padding: 20px;
}

.trix-content, .trix-content div{
	background-color:#fffef6;
}

.section.contenido{
	background-color:#fffef6;
	padding-top:10px;
}

.actions{
background-color:#fffef6;
padding-bottom:20px;
}

.texto{
	background-color:#fffef6;
}

.section.show{
padding:0;	
}

a.button.is-info.show{
	text-align:right;
}

.bd-prev-next-bis-previous{
	margin-right:58%;
}


footer{
	background-color:#fff;
	padding:1rem 1rem;
}
@media only screen and (min-width: 600px) {
.texto{
	background-color:#fffef6;
	padding:50px 80px 50px 80px;
	margin-left:80px;
	margin-right:80px;

}

.column.is-one-quarter .section{
	border:1px solid #000;
	background-color:#fffef6;
	margin-left:50px;
	min-height:500px;
}

.asdf{
	margin-top:50px;
	margin-left:80px;
	margin-right:150px;
}

.section.posts{
	padding:0;
}
.bd-prev-next-bis-previous{
	margin-right:85%;
}
}
