<!DOCTYPE html>
<html>
  <head>
    <title>Robotica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    <%= link_to (image_tag('logo.png')), root_path, class:"navbar-item" %>
   
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

        <%= link_to "Home", root_path, class: 'navbar-item'%>


      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Partes
        </a>
				
        <div class="navbar-dropdown">
		    <% @posts.each do |post| %>
  		       <%= link_to post.titulo, post, class:'navbar-item' %> 
		    <% end %>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to 'Nuevo', new_post_path, class:"button is-primary" %>
        </div>
      </div>
    </div>
  </div>
</nav>


  <body>
    <%= yield %>
  </body>
<footer>
  <div class="content has-text-centered">
    <p>
      <strong><a href="https://www.fcad.uner.edu.ar">Facultad de Cs. de la Administración - UNER</a></strong> | Curso: Introducción a la Robotica | <strong>WEB NO OFICIAL</strong> by Angel Mariano Dirié 
    </p>
  </div>
</footer>

</html>
